    <div class="page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Welcome  {{dashboard.users.firstName}}  {{dashboard.users.lastName}} ! </h2>
                </div>
                <div class="col-sm-6 text-right">
                    <ol class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li>Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="space70">
        <!--<div class="container">
            <div class="row">
                    <div class="col-sm-6">
                        <p1> Welcome {{dashboard.users.firstName}}  {{dashboard.users.lastName}} ! </p1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>{{dashboard.users.email}}</p>
                    </div>
            </div>
        </div>-->
    </div>
    <div class="col-sm-2"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 margin-btm-40">
                <!--courses tabs-->
                <div>
                    <!-- Nav tabs -->
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tred">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="course-box">
                                        <a>
                                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTSXb0VoCi7605JgcmpHNwc7GOduOEUNx1mHf2-hYT7U1MkB_pM"
                                                class="img-responsive">
                                                <span class=""></span>
                                        </a>
                                        <div class="course-desc">
                                            <h4><a style="color:black" ui-sref="UserProfile">My Profile</a></h4>
                                            <!--<span>By John Doe</span>-->
                                            <div class="desc-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <!--<span><i class="fa fa-users"></i> 765</span> -->
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--course-box-->
                                </div>
                                <div class="col-sm-4">
                                    <div class="course-box">
                                        <a class="thumb">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkcS37Bu_4yG-POppDspkhntaLmQcV63kOwQwAZ6vB1bfsTXK7" alt=""
                                                class="img-responsive">
                                                <!--<span class="price-tag skin">$199</span>-->
                                        </a>
                                        <div class="course-desc">
                                            <h4><a style="color:black" ui-sref="Connect">Connect with Speaksies</a></h4>
                                            <!--<span>By John Doe</span>-->
                                            <div class="desc-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <!--<span><i class="fa fa-users"></i> 165</span> -->
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--course-box-->
                                </div>
                                <div class="col-sm-4">
                                    <div class="course-box">
                                        <a class="thumb">
                                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjLbjiRKJTqbe1Ie0_0s7B-EjutONmcl1Y0i7J4Yun_tdsn0ir" alt=""
                                                class="img-responsive">
                                                <!--<span class="price-tag skin">$99</span>-->
                                        </a>
                                        <div class="course-desc">
                                            <h4><a style="color:black" ui-sref="BlogYourAdventure">Speaksies Blog</a></h4>
                                            <!--<span>By John Doe</span>-->
                                            <div class="desc-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <!--<span><i class="fa fa-users"></i> 65</span> -->
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--course-box-->
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="" id="new">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="course-box">
                                        <a class="thumb">
                                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcToG7fYbjfmHfbuutiVswap0JzjPA5WnBWWWrc_CLEAafPMqkbF" alt=""
                                                class="img-responsive">
                                                <!--<span class="price-tag skin">$299</span>-->
                                        </a>
                                        <div class="course-desc">
                                            <h4><a style="color:black" ui-sref="FAQ">FAQs</a></h4>
                                            <!--<span>By John Doe</span>-->
                                            <div class="desc-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <!--<span><i class="fa fa-users"></i> 244</span> -->
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--course-box-->
                                </div>
                                <div class="col-sm-4">
                                    <div class="course-box">
                                        <a class="thumb">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTbamWocr7rFVyAhA-O5L74ueylFAvmPkZ9tx4LkJ7bnyQzCsQ" class="img-responsive">
                                                <!--<span class="price-tag skin">$68</span>-->
                                        </a>
                                        <div class="course-desc">
                                            <h4><a style="color:black" ui-sref="chooseYourAdventure">Choose Your Adventure!</a></h4>
                                            <!--<span>By John Doe</span>-->
                                            <div class="desc-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <!--<span><i class="fa fa-users"></i> 87</span> -->
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--course-box-->
                                </div>
                                <!--<div class="col-sm-4">
                                    <div class="course-box">
                                        <a class="thumb" href="http://localhost:8080/YPI-C01-C/French.html">
                                            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRpPOhm62C-5I_1Y8XCFszGlXJtkib1HX2omsSdtnCU3OmPXzmNVg" alt=""
                                                class="img-responsive">-->
                                                <!--<span class="price-tag skin">$299</span>-->
                                        <!--</a>
                                        <div class="course-desc">
                                            <h4><a href="http://localhost:8080/YPI-C01-C/French.html">My current Adventure!</a></h4>-->
                                            <!--<span>By John Doe</span> -->
                                            <!--<div class="desc-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">-->
                                                        <!--<span><i class="fa fa-users"></i> 1056</span> -->
                                                    <!--</div>
                                                    <div class="col-xs-6 text-right">-->
                                                        <!--<a href="#">Apply <i class="fa fa-edit"></i></a> -->
                                                    <!--</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <!--course-box-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div role="tabpanel" class="" id="rec">
                            <div class="row">
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                    </div>
                <br>
                <br>
                <br>
                <br>
               
                    
                
            </div>
           
                </div>
                
            </div>
        </div>
    </div>

    

    <script type="text/javascript">
        // sabio.page.userId = sessionStorage.getItem("user");
        //   sabio.page.userId = parseInt(sessionStorage.getItem("user"));

        sabio.page.UserId = sessionStorage.getItem("user");

   
    </script>
   
    <!--footer start-->
    <!--footer end-->
