    <div class="page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>French Courses</h2>
                </div>
                <div class="col-sm-6 text-right">
                    <ol class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li>French Courses</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="space70"></div>
    <h1 class="space70 heading">Take A Short Vocabulary Quiz</h1>
    <div class="space30"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 margin-btm-30">
                <img src="/content/images/mountainbike-tour.jpg" alt="" class="img-responsive adventure">
                <h2 style="opacity: 0.5" class="course">Adventure</h2>
            </div>
            <div class="col-sm-4 margin-btm-30">
                <img ng-click="french.showModal()" src="/content/images/baignoire-france.jpg" alt="" class="img-responsive leisure">
                <h2 class="course">Leisure</h2>
            </div>  
            <div class="col-sm-4 margin-btm-30">
                <img src="/content/images/theatre.jpg" alt="" class="img-responsive arts">
                <h2 style="opacity: 0.5" class="course">Arts & Culture</h2>
            </div>
        </div>
    </div>
    <div class="space70"></div>
    <hr>
