<div class="space70"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40">
            <h3>French</h3>
            <hr>
            <img src="/content/images/Paris2.jpg" class="img-responsive" alt="">
            <div class="space30"></div>
            <h2 id="france">France</h2>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="frenchAdventure">Adventure</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="frenchArts">Arts & Culture</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="leisureFrench">Leisure</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <hr>
            <img src="/content/images/montreal_final_cover.jpg" class="img-responsive" alt="">
            <div class="space30"></div>
            <h2>Montreal, Canada</h2>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="montrealAdventure">Adventure</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="montrealArts">Arts & Culture</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="montrealLeisure">Leisure</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <hr>
            <img src="/content/images/banner4.jpg" class="img-responsive" alt="">
            <div class="space30"></div>
            <h2>Morocco</h2>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="moroccoAdventure">Adventure</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="moroccoArts">Arts & Culture</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
            <div class="row">
                <div class="col-sm-6 margin-btm-30">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                        tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat
                        ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
                    </p>
                </div>
                <div class="col-sm-6 margin-btm-30">
                    <h4 id="moroccoLeisure">Leisure</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li> Sapien et tincidunt sempe</li>
                        <li>Sit amet imperdiet </li>
                        <li> Suspendisse euismod mollis</li>
                    </ul>
                </div>
            </div>
            <blockquote>
                " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. "
                <h5>John Doe</h5>
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam
                tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum,
                sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus.
            </p>
        </div>
    </div>
</div>