<!DOCTYPE html>
<html ng-app="classifiedApp">
<head>
    <title></title>
    <link href="/SabioExampleCode/Content/bootstrap.css" rel="stylesheet" />
    <link href="/SabioExampleCode/Content/ui-bootstrap-csp.css" rel="stylesheet" />
</head>
<body ng-controller="classifiedsController as class">
    <div class="container table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Date Posted</th>
                    <th>Cost</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody ng-repeat="classified in class.classifieds">
                <tr>
                    <td>{{classified.title}}</td>
                    <td>
                        <img src="{{classified.image}}" class="img-responsive" />
                    </td>
                    <td>{{classified.posted}}</td>
                    <td>{{classified.price}}</td>
                    <td>{{classified.description}}</td>
                </tr>
            </tbody>
        </table>

        <pagination ng-model="class.currentPage" total-items="class.classifieds.length" max-size="maxSize" boundary-links="true">

        </pagination>


    </div>



    <script src="/SabioExampleCode/Scripts/jquery-3.1.1.js"></script>
    <script src="/SabioExampleCode/Scripts/bootstrap.js"></script>
    <script src="/SabioExampleCode/Scripts/angular.js"></script>
    <script src="/SabioExampleCode/Scripts/angular-animate.js"></script>
    <script src="/SabioExampleCode/App/sabioHttpServicesDemo/sabioDemoModule.js"></script>
    <script src="/SabioExampleCode/App/sabioHttpServicesDemo/httpServiceControllerDemo.js"></script>
    <script src="/SabioExampleCode/App/sabioHttpServicesDemo/httpSeviceFactoryDemo.js"></script>
 
</body>
</html>
