<ul>
    <li> Alfreds Futterkiste	Germany</li>
    <li>Ana Trujillo Emparedados y helados	Mexico  </li>
    <li>Antonio Moreno Taquería	Mexico</li>
    <li>Around the Horn	UK</li>
    <li>B's Beverages	UK</li>
    <li>Berglunds snabbköp	Sweden</li>
    <li>Blauer See Delikatessen	Germany</li>
    <li>Blondel père et fils	France</li>
    <li>Bólido Comidas preparadas	Spain</li>
    <li>Bon app'	France</li>
    <li>Bottom-Dollar Marketse	Canada</li>
    <li>Cactus Comidas para llevar	Argentina</li>
    <li>Centro comercial Moctezuma	Mexico</li>
    <li>Chop-suey Chinese	Switzerland</li>
    <li>Comércio Mineiro	Brazil</li>
</ul>